
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');


body h1, ul, li, dt, dd, dl {
    margin: 0px;
    padding: 0px;

}

.central-class {
    width: 960px;
    margin: auto;
    display: table;
}
body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #fafad2;
    font-weight: 200;
    
}
 img {
    display: block;
    border-radius: 200px;
    max-width: 150px;
    display:table-cell;
    float: left;
    transition: 3.0s ease;
}
.title {
    justify-content:space-around;
    display: flex;
    font-size: 60px;
    transition: 2.0s ease;
    display: table-cell;
}


